line-length = 100
target-version = "py310"

[lint]
select = ["E", "F", "I", "B", "C90", "D"]
ignore = ["D100", "D104"]

[lint.pydocstyle]
convention = "google"

[format]
quote-style = "double"
indent-style = "space"
line-ending = "lf"
